In [20]:
# https://docs.python-requests.org/en/latest/user/quickstart/
# Source: https://docs.google.com/spreadsheets/d/1Di6BD4Qg5wVFqyk55gBqegXCOMuf6UcZnpIvAYDFUdE/edit#gid=0

import requests
response = requests.get(
    "https://gsx2json.com/api?id=1Di6BD4Qg5wVFqyk55gBqegXCOMuf6UcZnpIvAYDFUdE&sheet=Students")
print(response)


res = response.json()
print(res)

<Response [200]>
{'columns': {'Student': ['Melinda', 'Bill', 'Graeme', 'Sophia', 'This is my new customer', 'Mitchal'], 'Age': [24, 30, 99999999, 25, 25, 99], 'GPA': [3.3, 3.4, 3.4, 3, 3.7, 3.6], 'Major': ['Economics', 'Anthropology', 'Statistics', 'Math', 'History', 'Biology']}, 'rows': [{'Student': 'Melinda', 'Age': 24, 'GPA': 3.3, 'Major': 'Economics'}, {'Student': 'Bill', 'Age': 30, 'GPA': 3.4, 'Major': 'Anthropology'}, {'Student': 'Graeme', 'Age': 99999999, 'GPA': 3.4, 'Major': 'Statistics'}, {'Student': 'Sophia', 'Age': 25, 'GPA': 3, 'Major': 'Math'}, {'Student': 'This is my new customer', 'Age': 25, 'GPA': 3.7, 'Major': 'History'}, {'Student': 'Mitchal', 'Age': 99, 'GPA': 3.6, 'Major': 'Biology'}]}

In [21]:
import pandas as pd
# The original data dictionary
data = {
   'columns':  res['columns'],
   'rows': res['rows']
}

# Create a DataFrame from the rows
df = pd.DataFrame(data['rows'])


df

                   Student       Age  GPA         Major
0                  Melinda        24  3.3     Economics
1                     Bill        30  3.4  Anthropology
2                   Graeme  99999999  3.4    Statistics
3                   Sophia        25  3.0          Math
4  This is my new customer        25  3.7       History
5                  Mitchal        99  3.6       Biology